
	<section class="center" id="mission">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span8 offset2">
					<div class="hero">
						<h1>Our Mission</h1>
						<p>Brackets 4 Life applies the energy of March Madness to take steps towards finding a cure for SIDS. SIDS research needs more funding and one way to achieve this is through efforts like Brackets 4 Life. If you're interested, you can check out some <a href="http://www.cjsids.org/resource-center/sids-research/recent-research.html">current research studies</a>.</p>
						<p>We also hope to increase awareness. Here's what you can do to <a href="http://www.cjsids.org/resource-center/risk-reduction-strategy.html">reduce the risk of SIDS</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="dark center" id="story">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span8 offset2">
					<div class="hero">
						<h1>Our Stories</h1>
					</div>
					<div class="accordion horizontal">
						<section id="michael">
							<a href="#michael"><div class="img1"></div></a>
							<h2 class="cursive"> Michael's Story </h2>
							<p>
								On July 2, 1996, the McConville family was blessed with the arrival of their second son, Christopher James. On December 2, 1996, Christopher's five month birthday, the family’s world was shattered when they lost their precious baby to Sudden Infant Death Syndrome (SIDS).
								<br><br>
								Over the past 9 years the McConville family has raised over $1 million for the CJ Foundation for SIDS. These much needed funds have given us the power to find answers to our questions and contribute to a future where every child has the opportunity to live life to its fullest.
								<br><br>
								“As we continue to live our life without our little sunshine, we feel a ray of hope as we join with the CJ Foundation in the battle against SIDS. Together, we will make a difference in the life of a child.” - Jennifer McConville
							</p>
						</section>	
						<section id="incube">
							<a href="#incube"><div class="img2"></div></a>
							<h2 class="cursive"> InCube's Story </h2>
							<p>
								InCube is a student entrepreneurship group at Duke University.
								<br><br>
								As a friend of InCube, Michael approached us for help in the creation of a March Madness Bracket website to raise money for the CJ Foundation for SIDS.  InCube was enthusiastic about Michael’s idea and we planned a two part Hack-a-Thon to work on his project. Utlizing the programming, marketing, and design skills that we've learned in building our companies, we successfully pulled the project together in two days.
							</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="center" id="team">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span8 offset2">
					<div class="hero">
						<h1>Our Team</h1>
					</div>
					<section class="main">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-1">
									<div class="ch-info">
										<h3>Michael McConville</h3>
									</div>
								</div>
							</li>
						</ul>
						<h2 class="cursive">Development Team</h2>
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-2">
									<div class="ch-info">
										<h3>Fabio Berger</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-3">
									<div class="ch-info">
										<h3>Alex Browne</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-4">
									<div class="ch-info">
										<h3>Jim Posen</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-5">
									<div class="ch-info">
										<h3>Christian Drappi</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-6">
									<div class="ch-info">
										<h3>Joshua Miller</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-7">
									<div class="ch-info">
										<h3>Deo Fagnisse</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-8">
									<div class="ch-info">
										<h3>Arun Karottu</h3>
									</div>
								</div>
							</li>
						</ul>
						<h2 class="cursive">Marketing Team</h2>
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-9">
									<div class="ch-info">
										<h3>Devin Solanki</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-10">
									<div class="ch-info">
										<h3>Ashley Qian</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-11">
									<div class="ch-info">
										<h3>James Band</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-12">
									<div class="ch-info">
										<h3>Alyssa Henline</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="ch-item ch-img-13">
									<div class="ch-info">
										<h3>Dimeji Abidoye</h3>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</section>
