<div id="load">
	<section class="center" id="mission">
		<div class="container">
			<div class="row">
				<div class="span10 offset1">
					<div class="hero ">
						<h1>Mission In Text</h1>
					</div>
				</div>
				<div class="span8 offset2">
				</div>
			</div>
		</div>
	</section>
	<section class="dark" id="story">
		<div class="container">
			<div class="row">
				<div class="span12 center">
					<h2 class="cursive"> Story </h2>
					Lorem Ipsum
					<br/><br/>
				</div>
			</div>
		</div>
	</section>
	<section class="center" id="team">
		<div class="container">
			<div class="row">
				<div class="span10 offset1">
					<div class="hero ">
						<h2>Team</h2>
					</div>
				</div>
				<div class="span8 offset2">
				</div>
			</div>
		</div>
	</section>
</div>