<!DOCTYPE html>
<html>
<head>
    <title>Brackets for Life</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/bootstrap-responsive.min.css">
</head>
<body>
    <article class="container" id="level1" data-bind="foreach: levels['1']()">
        <div class="row">
            <div class="span12">
                <!-- ko foreach: players -->
                <a class="btn btn-primary btn-large" data-bind="click: function() { $root.setWinner($parent, $data, '1') }">
                    <img data-bind="attr: {src: image}"/>
                    <span data-bind="text: name"></span>
                </a>
                <!-- /ko -->
                <span data-bind="if: typeof winner() !== 'undefined'">
                    <span data-bind="text: winner().name"></span>
                </span>
            </div>
        </div>
    </article>

    <article class="container" id="level2" data-bind="foreach: levels['2']()">
        <div class="row">
            <div class="span12">
                <!-- ko foreach: players -->
                <a class="btn btn-primary btn-large" data-bind="click: function() { $root.setWinner($parent, $data, '2') }">
                    <img data-bind="attr: {src: image}"/>
                    <span data-bind="text: name"></span>
                </a>
                <!-- /ko -->
                <span data-bind="if: typeof winner() !== 'undefined'">
                    <span data-bind="text: winner().name"></span>
                </span>
            </div>
        </div>
    </article>

    <article class="container" id="level3" data-bind="foreach: levels['3']()">
        <div class="row">
            <div class="span12">
                <!-- ko foreach: players -->
                <a class="btn btn-primary btn-large" data-bind="click: function() { $root.setWinner($parent, $data, '3') }">
                    <img data-bind="attr: {src: image}"/>
                    <span data-bind="text: name"></span>
                </a>
                <!-- /ko -->
                <span data-bind="if: typeof winner() !== 'undefined'">
                    <span data-bind="text: winner().name"></span>
                </span>
            </div>
        </div>
    </article>

    <article class="container" id="level4" data-bind="foreach: levels['4']()">
        <div class="row">
            <div class="span12">
                <!-- ko foreach: players -->
                <a class="btn btn-primary btn-large" data-bind="click: function() { $root.setWinner($parent, $data, '4') }">
                    <img data-bind="attr: {src: image}"/>
                    <span data-bind="text: name"></span>
                </a>
                <!-- /ko -->
                <span data-bind="if: typeof winner() !== 'undefined'">
                    <span data-bind="text: winner().name"></span>
                </span>
            </div>
        </div>
    </article>

    <article class="container" id="level5" data-bind="foreach: levels['5']()">
        <div class="row">
            <div class="span12">
                <!-- ko foreach: players -->
                <a class="btn btn-primary btn-large" data-bind="click: function() { $root.setWinner($parent, $data, '5') }">
                    <img data-bind="attr: {src: image}"/>
                    <span data-bind="text: name"></span>
                </a>
                <!-- /ko -->
                <span data-bind="if: typeof winner() !== 'undefined'">
                    <span data-bind="text: winner().name"></span>
                </span>
            </div>
        </div>
    </article>

    <article class="container" id="level6" data-bind="foreach: levels['6']()">
        <div class="row">
            <div class="span12">
                <!-- ko foreach: players -->
                <a class="btn btn-primary btn-large" data-bind="click: function() { $root.setWinner($parent, $data, '6') }">
                    <img data-bind="attr: {src: image}"/>
                    <span data-bind="text: name"></span>
                </a>
                <!-- /ko -->
                <span data-bind="if: typeof winner() !== 'undefined'">
                    <span data-bind="text: winner().name"></span>
                </span>
            </div>
        </div>
    </article>

    <article class="container" id="level7" data-bind="if: levels['7']().length === 1">
        <div class="row">
            <div class="span12">
                <h1>Winner - <span data-bind="text: levels['7']()[0].name"></span></h1>
                <img data-bind="attr: {src: levels['7']()[0].image}" width="300" height="300"/>
            </div>
        </div>
    </article>

    <script type="text/javascript" src="../../assets/javascripts/jquery.js"></script>
    <script type="text/javascript" src="../../assets/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="../../assets/javascripts/knockout.js"></script>
    <script type="text/javascript" src="../../assets/javascripts/knockout.validation.js"></script>
    <script type="text/javascript" src="../../assets/javascripts/bracket.js"></script>
</body>
</html>