<div id="load">
    <section class="center" id="about">
        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <div class="hero ">
                        <div class="video" rel="tooltip" title="Embed any product demos or promotional videos without worrying about if they will fit to different screen sizes. Don't want to include a video? Easy to remove with no side effects. " data-placement="right">
                            <iframe src="http://player.vimeo.com/video/13776542?title=0&amp;byline=0&amp;portrait=0&amp;color=38e8ae" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="span8 offset2">
                </div>
            </div>
        </div>
    </section>
    <section class="dark" id="signup">
        <div class="container">
            <div class="row">
                <div class="span12 center">
                    <h2 class="cursive"> Get Started </h2>
                    (These are just temporary links, and should be styled/changed.)
                    <br/><br/>
                </div>
            </div>
            <div class="row">
                <div class="span4 center">
                    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
                </div>
                <div class="span4 center">
                    <%= link_to "Sign in with Email", new_user_registration_path %>
                </div>  
                <div class="span4 center">
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </div>
            </div>
        </div>
    </section>
</div>