    <section class="center" id="landing-video">
        <div class="container">
            <div class="video" rel="tooltip" data-placement="right">
                <iframe class="video-right" src="http://player.vimeo.com/video/61319484" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    </section>
