<div id="load">
	<section class="center" id="mission">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>You are almost done!</h1>
					<h4>The last step is to make a donation to activate your bracket.</h4>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div class="selDiv">
						<form class="additional-donation-form">
							<h3>Please consider donating an additional amount to help fund research for Sudden Infant Death Syndrome.</h3>
						<label>Additional Donation</label>
							<select class="opts">
								<option value="0">$0</option>
								<option value="5" selected="selected">$5</option>
								<option value="10">$10</option>
								<option value="20">$20</option>
								<option value="50">$50</option>
								<option value="100">$100</option>
								<option value="500">$500</option>
								<option value="1000">$1,000</option>
								<option value="5000">$5,000</option>
							</select>
						</form>
					</div>
					<%= form_tag bracket_payment_path(@bracket) do %>
					  <input id="stripe_token" name="stripeToken" type="hidden" value="" />
					  <input id="payment_amt" name="payment_amt" type="hidden" value="" />
					  <article>
					    <label class="amount">
					      <span id="amt_shown">Total: $7.00</span>
					    </label>
					  </article>

					  <button id="paymentButton" class="btn-success btn">Donate</button>

					<% end %>
				</div>
			</div>
		</div>
	</section>
</div>
