<div id="load">
	<section class="center" id="mission">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span10 offset1">
					<div class="hero ">
						<h1>Welcome to Brackets for Life!</h1>
					</div>
				</div>
				<div class="span8 offset2">
				</div>
			</div>
		</div>
	</section>
	<section class="center" id="team">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span10 offset1">
					<div class="hero">
						<h2 class="btn"><a href="/brackets/new">Make a new Bracket</a></h2>
						<h2 class="btn"><a href="/brackets">Brackets</a></h2>
					</div>
				</div>
				<div class="span8 offset2">
				</div>
			</div>
		</div>
	</section>
</div>