.brackets-index {
	margin-bottom: 80px;
	.container-fluid{
		padding-left: 0px;
		padding-right: 0px;
	}
	h2{
		font-size: 50px;
	}
	h3{
		font-weight: 300px;
	}
}

.brackets-header {
	margin-top: 0px;
	margin-bottom: 30px;
}

.new-bracket-button {
	margin-top: 15px;
}

.brackets-table {
	width: 500px;
	margin-bottom: 60px;
	margin-right: auto;
	margin-left: auto;
}

.bracket-delete-button, .bracket-link {
	color:#393939;
	&:hover {
		text-decoration: none;
		color: #0088cc;
	}
}

.bracket-delete-button {
	margin-right: 10px;
}

.bracket-link {
	color:#393939;
}

.unactive-brackets {
	
}