// styles for the brackets/new page

.game {
	margin: 10px;
	clear: both;
}

.team {
	margin: 10px;
	float: left;
	width: 150px;
	height: 150px;
	&:hover {
		text-decoration: none;
		background-color: darken(#ccc, 14%);
	}
}

input{
	margin-top: 20px;
}

h1{
	margin-top: 60px;
}


.teamLogo {
	width: 100px;
	height: 100px;
}

.teamName {
	padding-top: 10px;
}

.winner {
	margin: 10px;
	margin-left: 100px;
	&:hover {
		background-color: none;
	}
}

.btn {
	background: #f3f3f3;
	color: black;
}

/*for homepage*/

.modal article {
	margin: 20px;
}