// styles for the brackets/new page

.game {
	margin: 10px;
	clear: both;
}

.team {
	margin: 10px;
	float: left;
	width: 150px;
	height: 150px;
}


.teamLogo {
	width: 100px;
	height: 100px;
}

.teamName {

}

.winner {
	margin: 10px;
	margin-left: 100px;
}

.btn {
	background: #f3f3f3;
	color: black;
}

/*for homepage*/

.modal article {
	margin: 20px;
}