// =============================================
//
// 	This is where we can apply custom css on top of
// 	the bootswatch theme. If you're writing css that affects
// 	every page, put it here!
//
// =============================================


body {
  
}
*:not(input) {
  &:focus, &:active {
    outline: none;
    outline-color: none;
    outline-style: none;
  }
}
//--- moved from main.css (Arun's CSS)
body{
  background-color: rgb(245, 245, 245);
}
.navbar{
  background:url("/assets/subtle_carbon.png") repeat #1c1c1c;
}
.navbar-inner {
  filter: none; // fix IE bug.
}
.navbar .brand h1{
  font-size: 24px;
  display: inline;
  position: relative;
  top: 5px;
}
.navbar .nav li{
  outline:none;
  position: relative;
  top: 20px;
}
.navbar .nav .dropdown li{
  position: relative;
  top: 0px;
}
.notice, .alert, .devise-errors{
  color: #000000;
  text-align: center;
  background-color: #cccccc;
  padding: 2px 2px 2px 2px;
  border: none;
}
footer{
  padding:40px 0 30px 0;
}
.navbar-transparent .nav .active > a, .navbar-transparent .nav .active > a:hover, .navbar-transparent .nav .active > a:focus{
  background-color:none;
}
.inline {
  display: inline;
}

h1.huge {
  font-size: 70px;
  line-height: 90px;
}

*.center {
  text-align: center !important;
}

