// Styles for the Landing Page
// visit it at /landing


//-- moved from main.css (Arun's CSS)

.video{
  padding-top: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align:right;

}
.video iframe{
  /*width: 80%;
  height: 80%;*/
  width: 640px;
  height: 480px;
}
#landing-video{
	background-color: #000;
	padding: 35px 0 35px 0;
}
.landing-hero{
	float:left;
	width: 260px;
}
.landing-hero h1{
	font-size:28px;
	color: #fff;
	line-height:1.5;
	font-weight:300;
}
.landing-button {
	margin-top: 10px;
	border: none;
	color: white;
	text-decoration: none;
	background-color:#0088cc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	line-height: 18px;
	font-weight:bold;
	padding:18px 24px 14px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	&:hover, &:active {
		background-color: lighten(#0088cc, 14%);
		text-decoration: none;
		color: white;
	}
}
.landing-button:hover {
	background-color:#378de5;
}
.landing-button:active {
	position:relative;
	top:1px;
}