.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.margin-verticals {
  margin: 12px 0;
}
.spaced {
  padding: 60px 0;
}
.trocchi,
.cursive {
  font-family: 'Trocchi', serif !important;
}
.shadow-text {
  text-shadow: 1px 2px 1px black;
}
body.red {
  background: #fc7364;
}
body.blue {
  background: #8bccef;
}
body.dark {
  background: #393939;
  color: white;
}
#signup {
  padding: 39px 0 70px 0;
}
#about .hero {
  padding-top: 0;
}
section.blue {
  padding: 60px 0;
  background: #8bccef;
  color: white;
}
section.red {
  padding: 60px 0;
  background: #fc7364;
  color: white;
}
section.yellow {
  padding: 60px 0;
  background: #fbcc71;
}
section.dark {
  padding-bottom: 60px;
  background: #393939;
  color: white;
}
section.white {
  padding: 60px 0;
  background: white;
}
footer {
  padding: 70px 0 30px;
  background: whiteSmoke;
  border-top: 1px solid #E5E5E5;
  color: #868686;
  font-weight: 300;
}
footer .links li {
  display: inline-block;
  margin-left: 20px;
}
footer .share li {
  display: inline;
  margin-left: 5px;
}
footer .share li .twitter-follow-button {
  vertical-align: text-bottom;
}
footer .rights {
  font-size: 13px;
}
.pricing .plan {
  color: #393939;
  padding: 24px;
  margin: 12px;
  background: #FAF9F4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pricing .plan h3 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.pricing .plan h4 {
  font-size: 34px;
  line-height: 38px;
  text-align: center;
}
.pricing .plan span.tail {
  font-size: 18px;
  line-height: 1;
}
.pricing .plan ul {
  border-top: 1px dashed #888;
  border-bottom: 1px dashed #888;
  margin: 12px 0;
}
.pricing .plan ul li {
  margin: 12px 0;
}
.feature {
  padding-bottom: 15px;
}
.feature p {
  padding: 0 48px;
}

/* Arun's CSS */
#about .container{
  margin: 0px 0px 0px 0px;
  width: 100%;
}
#about .container .offset1{
  margin-left: 0px;
  width: 100%;
}
#about .container .row{
  margin-left: 0px;
}
.video {
  padding-top: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.video iframe{
  /*width: 80%;
  height: 80%;*/
  width: 640px;
  height: 480px;
}
body{
  background:url("../img/subtle_carbon.png") repeat;
}
#load #mission, #load #team{
  background-color: rgb(245, 245, 245);
}
.navbar{
  background:url("../img/subtle_carbon.png") repeat #1c1c1c;
}
.navbar .brand h1{
  font-size: 24px;
  display: inline;
  position: relative;
  top: 5px;
}
.navbar .nav li{
  position: relative;
  top: 20px;
}
.navbar .nav .dropdown li{
  position: relative;
  top: 0px;
}
.devise-errors #error_explanation h2{
  font-size: 16px;
  color: #EE1527;
}
.devise-errors #error_explanation ul{
  list-style-type: none;
  text-align: center;
  color: #EE1527;
}
.notice, .alert{
  color: #000000;
  text-align: center;
  background-color: #cccccc;
  padding: 2px 2px 2px 2px;
}
#remember_me label{
  display: inline;
}
#remember_me input{
  position: relative;
  bottom: 3px;
}
#load p{
  text-align: justify;
}
#story .img1{
  background: url(../img/michael.jpg);
  height: 600px;
  width: 900px;
}
#story .img2{
  background: url(../img/incube.jpg);
  height: 600px;
  width: 900px;
}

/* Ashley's CSS */

/*Define Accordion box*/  
.accordion {   
 width:100%;  
 overflow:hidden;     
 padding:10px;  
 color:#414141;  
 margin-bottom: 0px; 
}  

.accordion section{   
  float:left;  
  overflow:hidden;    
  cursor:pointer;      
  margin:3px;   
}  

.accordion section p {   
  display:none;   
}    

.accordion section:target {   
  background-color: rgba(255,255,255,0.9);
}  

.accordion section:target p {
  padding: 0 20px 20px 20px;
  font-size: 18px;
  line-height: 1.5; 
  display:block;  
} 

.horizontal section{  
  width:24%; 
  height:100%;   
  -moz-transition: width 0.2s ease-out;   
  -webkit-transition:width 0.2s ease-out;  
  -o-transition:width 0.2s ease-out;  
  transition:width 0.2s ease-out;  
}  

/*Header of closed slide*/  
.horizontal section h2 {
  color:#FFF;    
  font-size: 40px;
  line-height:1.5;   
  position:relative;    
  margin-top:100px;  
}   
/*On mouse over open slide*/  
.horizontal :target{   
 width:74%;  
 height:100%;   
}  
.horizontal :target h2{   
 margin-top:20px;   
 color:#333;
 font-size: 28px;
}  