.bracket-payment-message {
	margin-top: 40px;
	margin-bottom: 40px;
}

.additional-donation-form {
	margin-top: 60px;
	margin-bottom: 60px;
	h3{
		font-size: 20px;
	}
}

.donation-form {
	margin-top: 60px;
	margin-bottom: 60px;
}

h4{
	font-weight: 300;
}